body {
  font-family: sans-serif;
}

.hidden {
  display: none !important;
}

#nav_bar {
  display: flex;
  margin: auto;
  width: 1200px;
  height: 100px;
}

.gearBestLogo {
  cursor: pointer;
}


#nav_top {
  align-items: center;
  justify-content: right;
  display: flex;
  margin: none;
  padding-top: 10px;
  height: 26px;
  width: 970px;
  font-size: 13px;
}

#nav_top ul li:nth-child(1):before {
  font-family: IcoFont;
  font-size: 18px;
  content: "\efec";
}

#nav_top ul li:nth-child(1)::after,
#nav_top ul li:nth-child(3)::after,
#nav_top ul li:nth-child(4)::after,
#nav_top ul li:nth-child(5)::after,
.nav_search_category_select::after {
  margin-left: 4px;
  font-family: IcoFont;
  content: "\ea99";
  font-size: 16px;
}

#nav_top ul li:nth-child(1):hover:after,
#nav_top ul li:nth-child(5):hover:after {
  font-family: IcoFont;
  content: "\eaa1";
  font-size: 16px;
}

#nav_top ul {
  display: flex;
  list-style-type: none;
  color: #666;
}

#nav_top ul li {
  align-items: center;
  display: flex;
  text-align: left;
  margin-left: 30px;
  cursor: pointer;
}

#nav_top ul li:hover {
  text-decoration: underline;
}

.dropdown_app_QR {
  position: relative;
  display: inline-block;
}

.dropdown_app_qr_content {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 250px;
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown_app_qr_content > img {
  display: block;
}

.dropdown_app_QR:hover .dropdown_app_qr_content {
  display: block;
}

#nav_main {
  display: flex;
  flex-direction: row;
  margin: none;
  padding: 14px 0px 0px 0px;
  height: 50px;
  width: 970px;
}

.nav_search_bar {
  display: flex;
  font-size: 14px;
  margin-left: 150px;
  height: 32px;
  border: 2px solid #ffda00;
  border-radius: 100px;
  text-align: left;
  width: 480px;
}

.nav_search_category_select {
  margin: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#nav_search_input {
  border: none;
  margin-right: 60px;
  width: 356px;
  height: 26px;
  padding: 3px 0px;
}

.nav_search_button {
  border-radius: 0px 10px 10px 0px;
  align-self: right;
  cursor: pointer;
  width: 42px;
  border: 0;
  background-color: #ffda00;
}

.nav_search_button:before {
  font-family: IcoFont;
  font-size: 18px;
  content: "\ed11";
}

.nav_bar_options {
  margin-top: 5px;
  color: #666;
  justify-content: right;
  align-items: center;
  display: flex;
  font-size: 15px;
  width: 319px;
  height: 28px;
}

.nav_bar_options > div {
  margin-left: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav_sign_in {
  text-align: left;
}

.nav_sign_in:before {
  margin-right: 5px;
  font-size: 22px;
  content: "\ecec    ";
  font-family: IcoFont;
}

.nav_sign_in:hover:before {
  color: #ffda00;
}

.nav_favorites:before {
  margin-right: 5px;
  font-size: 20px;
  font-family: IcoFont;
  content: "\ef44   ";
}

.nav_favorites:hover:before {
  color: #ffda00;
}

.nav_cart:before {
  font-size: 24px;
  margin-right: 5px;
  content: "\efe7";
  font-family: IcoFont;
}

.nav_cart:hover:before {
  color: #ffda00;
}

#nav_wrapper {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 970px;
}

#black_yellow_bar {
  background-color: rgb(255, 218, 0);
  display: flex;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  font-weight: 700;
  margin: auto;
  width: 1200px;
  height: 40px;
}

#black_part {
  width: 230px;
  color: white;
  background-color: rgb(0, 0, 0);
}

#yellow_part {
  margin-left: 20px;
  width: 230px;
  height: 40px;
  font-size: 16px;
}

#nav_logo_container {
  display: flex;
  width: 230px;
  height: 100%;
}

.gearBestLogo {
  max-width: 100%;
  max-height: 100px;
  margin: 25px 0px;
}

.countryFlag {
  height: 13px;
  width: 22px;
  margin: 0px 4px;
}

#site_wrap {
  min-height: 2000px;
  display: flex;
  margin: auto;
  width: 1200px;
  flex-direction: column;
}

.sliding_photo_container {
  width: 100%;
  height: 420px;
}

.sliding_photo_container > img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
}

.category_selector {
  flex-direction: row;
  display: flex;
  position: absolute;
  opacity: 0.9;
  z-index: 1;
  width: 230px;
  height: 420px;
  padding: 10px 0 0;
  background-color: hsla(0, 0%, 100%, 0.85);
  font-size: 18px;
}

.category_selector ul {
  width: 100%;
  margin-top: 0px;
}

.category_selector > ul > li {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin-left: -40px;
  height: 28px;
  width: 210;
  padding: 0px 10px;
  font-size: 14px;
  list-style-type: none;
}

.slick-dots {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: right;
  margin: -20px -50px;
  padding: 0 0;
  list-style: none;
  bottom: 40px;
}

.slick-dots li {
  background-color: #666;
  opacity: 0.8;
  margin: 0 10px 0.25rem;
  border-radius: 50%;
}

.slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: none;
  border: 5px solid #ffda00;
}

.static_main_part {
  display: flex;
  margin-top: 10px;
  width: 1200px;
  height: 120px;
}

.static_part1 {
  background-image: url("New Items big/Screenshot (29).png");
  overflow: hidden;
  width: 228px;
  height: 120px;
}

.hid_box {
  background-image: url("New Items big/Screenshot (31).png");
  top: 100%;
  position: relative;
  transition: all 0.3s ease-out;
  height: 100%;
}

.static_part1:hover > .hid_box {
  top: 0;
}

.static_part2 > img {
  margin: 0 0 0 12.5px;
}

.collection_container {
  flex-direction: column;
  display: flex;
  padding-top: 50px;
  width: 1200px;
  height: 272px;
}

.collection_heading {
  padding-top: 7px;
  box-sizing: border-box;
  height: 27px;
  align-content: flex-end;
  display: flex;
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 15px;
  color: #000;
  font-weight: bold;
}

.collection_heading:before {
  color: #666;
  margin-right: 10px;
  content: "\eeac   ";
  font-family: IcoFont;
  font-size: 18px;
}

.collection_items {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  height: 230px;
  width: 1200px;
}

.collection_items_card {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 188px;
  overflow: hidden;
  cursor: pointer;
}

.collection_items_card > img {
  margin-top: 10px;
  width: 160px;
  height: 160px;
}

.collection_items_title {
  margin-top: 10px;
  color: #000;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  width: 166px;
}

.collection_items_hid_box {
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  height: 100%;
  background-color: #f30240;
  font-size: 18px;
  position: relative;
  transition: all 0.3s ease-out;
}

.collection_items_card:hover > .collection_items_hid_box {
  top: 0;
}

.new_container {
  padding-top: 50px;
  width: 1200px;
  height: 342px;
}

.new_heading {
  padding-top: 7px;
  box-sizing: border-box;
  height: 27px;
  align-content: flex-end;
  display: flex;
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 15px;
  color: #000;
  font-weight: bold;
}

.new_heading::before {
  color: #666;
  margin-right: 10px;
  content: "\ef01   ";
  font-family: IcoFont;
  font-size: 18px;
}

.new_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #666;
  height: 310px;
  width: 1200px;
}

.new_items_big {
  height: 300px;
  width: 450px;
}

.new_items_small {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  border: 1px solid #eee;
  transition: all 0.2s linear;
  width: 161px;
  height: 278px;
  padding: 10px;
  margin-left: 5px;
}

.new_items_small > img {
  width: 161px;
  height: 161px;
}

.new_items_prices {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  margin-top: 30px;
  width: 161px;
  height: 65px;
}

.new_items_small:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.new_items_strikedOffPrice {
  text-decoration: line-through;
  display: flex;
  justify-content: center;
  width: 161px;
  height: 20px;
  margin-top: 18px;
  font-size: 14px;
  color: #999;
}

.new_items_finalPrice {
  display: flex;
  justify-content: center;
  width: 161px;
  height: 20px;
  margin-top: 5px;
  font-size: 20px;
  color: #f30240;
}

.new_items_big > img {
  height: 100%;
  width: 100%;
}

.new_items_slider {
  justify-content: space-between;
  display: flex;
  width: 100%;
  height: 100%;
}

.category_hover_pop_up {
  display: flex;
  height: 423px;
  z-index: 1;
  position: absolute;
  margin-left: 230px;
  width: 970px;
  background-color: white;
}

.sub_category_list_items {
  gap: 30px;
  padding: 20px 10px 35px 40px;
  box-sizing: border-box;
  width: 740px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.sub_category_individual_list {
  justify-content: left;
  display: flex;
}

.sub_category_individual_list > ul {
  padding: 0;
  margin: 0;
}

.sub_category_individual_list > ul > li {
  font-size: 14px;
  color: #666;
  list-style-type: none;
  line-height: 20px;
}

.sub_category_individual_list > ul > li:nth-child(1) {
  line-height: 30px;
  color: black;
  font-weight: bold;
}

.sub_category_individual_list > ul > li:hover {
  cursor: pointer;
  color: rgb(255, 181, 93);
}

.sub_category_image {
  height: 423px;
  width: 230px;
}

.sub_category_image > img {
  width: 100%;
  height: 100%;
}

.category_selector ul li:hover {
  font-weight: bolder;
  background-color: white;
  cursor: pointer;
  opacity: 1 !important;
}

